@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body, html{
	margin: 0px;
}
.containerbody{
	top: 80px;
	/* height: 90vh; */
	margin-top: -900px;
	width: 90%;
	margin-left: 90px;
}
.container{
	top: 80px;
	bottom: 60px;
	height: 80%;
}
.btn btn-success add-textbox{
	width:30px;
	height:30px;
}
.flex-container {
	width: 100%;
	height: 80vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center; /* 수직 정렬 */
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center; /* 수평 정렬 */
}



a{
	text-decoration: none;
}

.footer-bottom p {
    margin-top: 11px; 
}
.footer-menu ul {
    margin-top: 10px;
}
.slider-menu {   
    margin-top: 15px;  
}
.sidebar-top{
	margin-top: -19px;
}
.hide{
	padding-bottom: 8px;
}
.sidebar-top h3 a{
	color: #007bff;
}
.slider-menu > li a b{
   display: inline-flex;
   padding: 14px;
   margin-left: -10px;
   margin-right: -15px;
   font-family: 'Quicksand', sans-serif;
   font-size: 18px;
   color: black;
   cursor: pointer;
   transition: 0.3s linear all;
   user-select: none;
   padding-right:30px;
   text-decoration: none;
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select
	{
	flex: none;
	width: 500px;
	margin-left: 25%;
	justify-content: center;
}
.input-group mb-3 {
	width: 500px;
	height: 100px;	
}
.form-control {
	width: 500px;
	height: 50px;
}

.responsive-table li {
	border-radius: 3px;
	padding: 9px 25px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	width: 1200px;
	height: 55px;
}
.responsive-table .table-header {
	background-color: #95A5A6;
	font-size: 15px;
	letter-spacing: 0.05em;
	float: left;
	 vertical-align: middle;	
}
.responsive-table .table-row {
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.03em;
	float: left;
}

  .col-1 { 
    flex-basis: 25%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 10%;
  }

@media all and (max-width: 1200px) {
	.responsive-table .table-header {
		display: none;		
	}
	.responsive-table li {
		display: block;
	}
	.responsive-table .col {
		flex-basis: 100%;
	}
	.responsive-table .col {
		display: flex;
		padding: 20px 0;
	}
	.responsive-table .col:before {
		color: #6C7A89;
		padding-right: 20px;
		content: attr(data-label);
		flex-basis: 50%;
	}
}

/* /* table css */
.main-table{
	height: 670px;
	width: 1280px;
	margin-top: -30px;
	margin-left: 40px;
	position: relative; 
	z-index: 1;
}

.mb-5 {
    margin-bottom: 2.5rem!important;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

/* 사이드 바 */
.nav-side{
	height: 86.5vh;
    /* top: 8vh; */
    /* width: 13rem;  */
    margin-top: 1px;
}
nav {
  height: 88vh;
  top: 8vh;
  /* position: fixed; */
  position: sticky;
  /* top: 0; */
  left: 0;
  /* height: 90vh; */
  background-color: /* #2196f3; */ hsl(228, 100%, 99%);
  width: 13rem;
  padding: 1.8rem 0rem 0 12;
  color: /* #fff; *//*  black;  */ hsl(228, 8%, 50%);
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  margin: 0px;
  box-shadow: 1px 0 4px hsla(228, 81%, 49%, .15);
  /* hsl(228, 100%, 99%); */
}
nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}
.sidebar-top h3 {
  padding-top:5px;
  padding-right: 50px;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
}
.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background-color: #2196f3;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.shrink-btn i {
  line-height: 27px;
  transition: 0.3s;
}
/* .shrink-btn:hover {
  background-color: var(--main-color-dark);
} */
nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}
.search {
  min-height: 2.7rem;
  background-color: var(--main-color-light);
  margin: 0rem 0.5rem 0rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}
.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: /* #fff; */ /* black; */ hsl(228, 8%, 50%);
  caret-color: #fff;
  font-family: inherit;
}
.search input::placeholder {
  color: var(--text-color);
}
/* sidebar-link */

.sidebar-links ul {
  position: relative;
   list-style:none;
   padding-left: 0px;
   right: 20px;
}
.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}
.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}
.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}
.icon i:last-child {
  opacity: 0;
  color: /* #fff; *//*  hsl(228, 8%, 50%); */ #007bff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: /* #fff; */ #007bff;
}
.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}
.sidebar-links a.active i:first-child {
  opacity: 0;
}
.sidebar-links a.active i:last-child {
  opacity: 1;
}
.active-tab {
  width: 100%;
  height: 53px;
  background-color: var(--main-color-dark);
  border-radius: 10px;
  position: absolute;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
}
.sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}
.sidebar-footer {
  position: relative;
  margin-top: auto;
}
.account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 53px;
  width: 3.7rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s, color 0.3s 0s;
}
.account:hover {
  color: #fff;
}
.admin-user {
  display: flex;
  align-items: center;
}
.admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}
.admin-user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  height: 0px;
}
.admin-info {
  padding-left: 0.3rem;
}
.admin-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}
.admin-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}
.log-out {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  background-color: var(--main-color-dark);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 10px;
  margin: 0 0.65rem;
  transition: color 0.3s;
}
.log-out:hover { 
  color: /* #fff; */ #007bff;
}
.tooltip {
  background-color: #2196f3;
  position: absolute;
  right: -1.2rem;
  top: 0;
  color: white;
  transform: translateX(100%) translateY(-50%);
  padding: 0 0.8rem;
  font-size: 0.85rem;
  display: none;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 30px;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  text-align: center;
  white-space: nowrap;
}
.tooltip span {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  transition: 0.3s;
}
.tooltip span.show {
  opacity: 1;
}
.tooltip-element:hover ~ .tooltip {
  opacity: 1;
  pointer-events: all;
}
/* When the menu shrinks */
.hide {
  transition: opacity 0.3s 0.2s;
  width: 100px;
}
body.shrink nav {
  width: 5.4rem;
}
body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}
body.shrink .shrink-btn i {
  transform: rotate(-180deg);
}
body.shrink .sidebar-links h4 {
  height: 10px;
}
body.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}
body.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}
body.shrink .tooltip {
  display: grid;
}

.search h4 {
    position: relative;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0.8rem;
    color: var(--text-color);
    letter-spacing: 0.5px;
    height: 45px;
    line-height: 45px;
    transition: opacity 0.3s 0.2s, height 0.5s 0s;
    right: 20px;
    margin-bottom: -20px;
}

/* 검색창 */
.input-group mb-3{
	bottom: 100px;
}
.mb-3{
	margin-left: 335px;
	top: -50.5px;
	height: 50px;
    width: 1200px;
}



/* 검색 후 나오는 카드 text 디자인  */

/* body {
		    cursor: default;
		    font-size: 14px;
		    line-height: 21px;
		    font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
		    color: #666;
		    padding: 14px;
			 } */
/* .box {
	width: 265px;
	float: left;
	margin-right: 25px;
}

.title {
	display: block;
	padding: 14px 0 15px 0;
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 10px;
	border-bottom: 2px solid;
}

ul {
	color: #666;
	list-style: square;
	padding: 0;
	margin-left: 20px;
	font-size: 20px;
}
 */
/* 신청서 탭 CSS */
body{
	background: #f5f5f5
	}
.rounded{
	border-radius: 1rem
	}
.nav-pills .nav-link{
	color: #555
	}
.nav-pills .nav-link.active{
	color: white
	}
input[type="radio"]{
	margin-right: 5px
	}
.bold{
	font-weight:bold
	}
	


/* 신청서 */

h1.display-6{
	position: relative;
	left:2em;
}
div.col-lg-6.mx-auto{
	margin:0em !important;
}
/* 신청서 전체 크기 */
div.card{
	width:79em;
	height:40em;
	left:3em;
	bottom:4em;
}
div.domain-card-footer{
	position: relative;
	height: 4.5em;
	top: -0.3em;
}
ul.nav.bg-light.nav-pills.rounded.nav-fill.mb-3{
	margin-left:0em;
	width:75.5em;
}
input.form-control{
	margin:0em;
	width:76em;
}
input.domain-form-control{
	margin:0em;
	width:37em !important;
}
div.domainGroup1{
	float: left;
}
div.domainGroup2{
	float: right;
}
div.row.mb-4{
	position: relative;
	bottom:3em;
	right: 4em;
}
button.domainButton{
	position: relative;
	top:3em;
	width:98%;
	left:1em;
}
#domainSubmit{
	z-index:3;
}
#termToWordApplication{
	position: relative;	
	display: none;
	animation: ct 6s infinite;
	width:5em;
}
@keyframes ct{
	 25% {background-color: skyblue;}
     50% {background-color: cornflowerblue;}
     75% {background-color: deepskyblue;}
}
#termSearchCheck{
	display: inline-block;
	color:blue;
}

#exampleFormControlSelect1{
	width: 3em;
	display: inline-block;
}

select.form-control{
	padding: 0 !important;
}


#domainType{
	
}
#domainLength{
	
}
/*  */

/* nav바  밀리는 현상 수정 */
h3.hide{
	position:relative;
	top:0.3em;
}
div.sidebar-top{
	position: relative;
	top:1em;	
}
div.sidebar-links{
	position: relative;
	left:1.5em;
	top:3.5em;
}
div.icon{
	position:relative;
	bottom:0.2em;
}

div.search{
	position:relative;
	top:2.2em;
}

h4.hide{
	position:relative;
	right:1.5em;
}
div.container.py-5{
	position: fixed;
	/* top:1em; */
	left:20em;
}
div.row{
	width:85em;
}

#mx-auto{
	margin-left:0 !important;
	margin-right:0  !important;
}

/* footer 밀리는 현상 수정  */
footer{
	right:0.1em;
}
 